html {
	height: 100%;
	overflow: auto;
	margin: 0;
}

body {
	height: 100%;
	margin: 0;
	overflow: auto;
	font-family: Optima, sans-serif;
	background-color: #2e3954;
}

.topnav {
	z-index: 9999;
	position: fixed;
	width: 100%;
	overflow: hidden;
	background-color: #d7f4fc;
}

.topnav a {
	font-family: Optima, sans-serif;
	float: left;
	color: #2e3954;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 22px;
	font-weight: 500;
	display: block;
	background-position: center;
	transition: background 1s;
}

.topnav a:active,
.topnav a.active:active {
	background-size: 100%;
	transition: background 0s;
}

.topnav a:hover,
.topnav a.active:hover {
	background: #2e3954 radial-gradient(circle, transparent 1%, #2e3954 1%) center/15000%;
	color: #d7f4fc;
}

.topnav a.active {
	background-color: #eff2ce;
	color: #2e3954;
}

.topnav .icon {
	display: none;
}

.wrapper,
.about-wrapper,
.experience-wrapper {
	height: auto;
	min-height: calc(100% - 50px);
	overflow: auto;
}

.wrapper:after,
.about-wrapper:after,
.experience-wrapper:after {
	content: "";
	display: table;
	clear: both;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky+.wrapper {
	padding-top: 50px;
}

.home-intro {
	float: left;
	width: 60%;
	margin-top: 15%;
	position: relative;
}

.intro-container {
	line-height: 12px;
	text-align: center;
	overflow: visible;
}

p1,
p2,
#about-paragraph {
	overflow: visible;
	color: #d7f4fc;
	font-size: x-large;
}

h1 {
	color: #eff2ce;
	font-size: 400%;
	line-height: 60px;
}

h1,
#about-header {
	color: #eff2ce;
	font-size: 400%;
}

.image-format-container {
	position: relative;
	margin-top: 10%;
}

.image-container {
	margin: auto;
	width: 350px;
	height: 350px;
	overflow: hidden;
	border-radius: 50%;
	border: 2px solid #eff2ce;
}

.profile-image {
	margin-top: -5%;
	width: 100%;
	height: auto;
}

.first-experience-formatter,
.about-formatter {
	margin-top: 70px;
	margin-bottom: 80px;
}

.about-container {
	text-align: center;
	width: 70%;
	margin: 0 auto;
}

.about-image-container {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
}

.about-image {
	width: 100%;
	border: 2px solid #eff2ce;
}

.experience-formatter {
	margin-bottom: 80px;
} 

.experience-container {
	text-align: center;
	width: 70%;
	margin: 0 auto;
}

#experience-header {
	color: #eff2ce;
	font-size: 400%;
}

#experience-company {
	color: #eff2ce;
	font-size: 250%;
	margin-bottom: 10px
}

#experience-dates {
	color: #eff2ce;
	font-size: 80%;
}

#experience-paragraph {
	margin-top: -1px;
	color: #d7f4fc;
	font-size: x-large;
}

.last-experience-formatter {
	margin-bottom: 70px;
}

.push {
	height: 50px;
}

.footer,
.about-footer {
	height: 50px;
	bottom: 0px;
}

.botnav {
	text-align: center;
	overflow: hidden;
}

.botnav a {
	color: #eff2ce;
	padding: 14px 5px;
	text-decoration: none;
	font-size: 17px;
}

.botnav a:hover {}

.media-icon {
	height: 30px;
	width: 30px;
}

@media screen and (max-width: 800px) {
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		font-family: Optima, sans-serif;
		float: right;
		color: #2e3954;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 22px;
		font-weight: 500;
		display: block;
		background-position: center;
		transition: background 1s;
	}
	.topnav a.icon:hover {
		background: #2e3954 radial-gradient(circle, transparent 1%, #2e3954 1%) center/15000%;
		color: #d7f4fc;
	}
	.topnav.responsive {
		position: fixed;
	}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
    .wrapper {
		overflow: auto;
	}
	.about-wrapper,
	.experience-wrapper {
		overflow: auto;
	}
    .home-intro {
		height: 300px;
		width: 100%;
		margin-top: 125px;
	}
    .intro-container {
		text-align: center;
	}
    .image-format-container {
		display: block;
		float: none;
		margin: 0;
		width: 100%;
	}
    .image-container {
		margin: auto;
	}
	.about-formatter,
    .about-image-formatter,
	.experience-formatter,
	.last-experience-formatter,
	.first-experience-formatter {
		display: block;
		float: none;
		margin-right: 0;
		width: 100%;
	}
	#about-header {
		font-size: xx-large;
	}
	#about-paragraph {
		font-size: large;
	}
	#experience-header {
		font-size: xx-large;
	}
    #experience-company {
		font-size: x-large;
	}
    #experience-dates {
		font-size: large;
	}
	#experience-paragraph {
		font-size: 100%;
	}
	.first-experience-formatter,
	.about-formatter {
		margin-top: 70px;
		margin-bottom: 40px;
	}
	.experience-formatter {
		margin-bottom: 40px;
	}
	.last-experience-formatter {
		margin-bottom: 5px;
	}
    .about-footer,
	.push {
		float: none;
		margin-right: 0;
		width: auto;
	}
	.about-footer {
		margin-top: 50px;
		bottom: 0px;
	}
    .footer {
		float: none;
		margin-right: 0;
		width: auto;
		margin-top: 50px;
		bottom: 0px;
		margin-top: 50px;
	}
}